*{
  font-family: 'Roboto', sans-serif;
}
/* Normal Mode */
body{
  background-color: #ebebeb;
  height: 90vh;
}
.calculatorBody{
  width: 50%;
  padding: 5%;
  margin: auto;
  border: 1px solid #767676;
  border-radius: 5px;
  background-color:#fff;
}
#numberVisor{
  font-size: 2rem;
}
.numbersContainer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 40vh;
}
.visorContainer{
  height:10vh;
  border: 1px solid #767676;
  text-align: end;
  padding: 2%;
  background-color: white;
}
.b0{
  grid-column-start: 1;
  grid-column-end: 3;
}
#logs{
  display: block;
  height: 50%;
  text-align: left;
}
#totalOperator{
  font-size: 24px;
}
#oldResults{
  display:block;
  position:relative;
  background:#fff;
  padding: 0px 10px;
  border: 1px solid #c1c1c1;
  height: 10rem;
  overflow-y: scroll;
  line-height: 2rem;
}
.hide{
  display:none !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #fff; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#spanOpener{
  cursor:pointer;
}
button {
  border: 0px;
  margin: 4px;
  background-color: #ebebeb;
  cursor: pointer;
}
button:active{
  box-shadow:1px 2px 3px #c1c1c1;
}

/* Dark Mode */
.calculatorBody.darkMode{
  background-color:#ebebeb;
}
body.darkMode{
  background-color: #000;
}
button.darkMode{
  background-color:#fff;
}

/* toogle switch  */

/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 1em;
  --size-of-icon: 1.2em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0em;
  display: inline-block;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  margin-bottom:15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 -webkit-transition: .4s;
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  -webkit-box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
          box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

@media screen and (min-width:1250px){
  .calculatorBody {
    width: 20%;
    padding: 2%;
  }
}
@media screen and (max-width:480px){
  .calculatorBody {
    width: 100%;
  }
}

body.party{
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
  0% { background-color: red; }
  50% { background-color: blue; }
  100% { background-color: red; }
}
@-moz-keyframes color-change {
  0% { background-color: red; }
  50% { background-color: blue; }
  100% { background-color: red; }
}
@-ms-keyframes color-change {
  0% { colobackground-colorr: red; }
  50% { background-color: blue; }
  100% { background-color: red; }
}
@-o-keyframes color-change {
  0% { background-color: red; }
  50% { background-color: blue; }
  100% { background-color: red; }
}
@keyframes color-change {
  0% { background-color: red; }
  50% { background-color: blue; }
  100% { background-color: red; }
}